In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
h1=pd.read_csv('h1.csv')

In [3]:
h2=pd.read_csv('h2.csv')

# A

In [4]:
h1.shape
# h1: row = 303, col = 8

(303, 8)

In [5]:
h2.shape
# h2; row = 303, col = 8

(303, 8)

# B

In [6]:
h1.head(5)

   id  age  sex  cp  trestbps  chol  fbs  restecg
0   1   63    1   3       145   233    1        0
1   2   37    1   2       130   250    0        1
2   3   41    0   1       130   204    0        0
3   4   56    1   1       120   236    0        1
4   5   57    0   0       120   354    0        1

# C

In [7]:
h2.tail(10)

      id  thalach  exang  oldpeak  slope  ca  thal  target
293  294      150      0      0.8      1   0     3       0
294  295      144      1      2.8      0   0     1       0
295  296      144      1      4.0      2   2     3       0
296  297      136      1      0.0      1   0     2       0
297  298       90      0      1.0      1   2     1       0
298  299      123      1      0.2      1   0     3       0
299  300      132      0      1.2      1   0     3       0
300  301      141      0      3.4      1   2     3       0
301  302      115      1      1.2      1   1     3       0
302  303      174      0      0.0      1   1     2       0

# D

In [8]:
h1.id.nunique() 
# 303

303

In [9]:
h2.id.nunique() 
# 303

303

# E

In [10]:
h1.columns

Index(['id', 'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg'], dtype='object')

In [11]:
h2.columns

Index(['id', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'], dtype='object')

# F

In [12]:
h_merged = pd.merge(h1, h2)
h_merged
# column='id' is the primary key for merging

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,2,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,3,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,5,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,300,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,301,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,302,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,303,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

# G

In [13]:
h_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        303 non-null    int64
 1   age       303 non-null    int64
 2   sex       303 non-null    int64
 3   cp        303 non-null    int64
 4   trestbps  303 non-null    int64
 5   chol      303 non-null    int64
 6   fbs       303 non-null    int64
 7   restecg   303 non-null    int64
 8   thalach   303 non-null    int64
 9   exang     303 non-null    int64
 10  oldpeak   303 non-null    float64
 11  slope     303 non-null    int64
 12  ca        303 non-null    int64
 13  thal      303 non-null    int64
 14  target    303 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 37.9 KB

# H

In [14]:
female_h = h_merged[h_merged['sex'] == 0]
female_h

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,3,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,5,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
6,7,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
11,12,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,15,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,290,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,293,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,297,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,299,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,303,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [15]:
female_h.shape
# 96

(96, 15)

# I

In [16]:
male_h = h_merged[h_merged['sex'] == 1]
male_h

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,2,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
5,6,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
7,8,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
297,298,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
299,300,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,301,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,302,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0

In [17]:
male_h.shape
# 207

(207, 15)

# J

In [18]:
male_h.mean()

id          163.980676
age          53.758454
sex           1.000000
cp            0.932367
trestbps    130.946860
chol        239.289855
fbs           0.159420
restecg       0.507246
thalach     148.961353
exang         0.371981
oldpeak       1.115459
slope         1.386473
ca            0.811594
thal          2.400966
target        0.449275
dtype: float64

In [19]:
female_h.mean()

id          126.166667
age          55.677083
sex           0.000000
cp            1.041667
trestbps    133.083333
chol        261.302083
fbs           0.125000
restecg       0.572917
thalach     151.125000
exang         0.229167
oldpeak       0.876042
slope         1.427083
ca            0.552083
thal          2.125000
target        0.750000
dtype: float64

In [20]:
# non

# K

In [21]:
male_chol = male_h[male_h['chol'] < 239.289855]
male_chol

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
5,6,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
8,9,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,10,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,295,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,296,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
297,298,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
300,301,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,302,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0

In [27]:
male_h['chol'] < 239.289855

0       True
1      False
3       True
5       True
7      False
       ...
295     True
297     True
299    False
300     True
301     True
Name: chol, Length: 207, dtype: bool

In [22]:
male_chol = male_h[male_h['chol'] < 239.289855]

TypeError: '<' not supported between instances of 'list' and 'float'

In [28]:
female_trestbps = female_h[female_h['trestbps'] > 133.083333]
female_trestbps

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
6,7,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
14,15,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
17,18,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
19,20,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
25,26,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
28,29,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
35,36,46,0,2,142,177,0,0,160,1,1.4,0,0,2,1
36,37,54,0,2,135,304,1,1,170,0,0.0,2,0,2,1
38,39,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1
39,40,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
40,41,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
49,50,53,0,0,138,234,0,0,160,0,0.0,2,0,2,1
54,55,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
65,66,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1
75,76,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
96,97,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1
102,103,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1
107,108,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
110,111,64,0,0,180,325,0,1,154,1,0.0,2,0,2,1
112,113,64,0,2,140,313,0,1,133,0,0.2,2,0,3,1
119,120,46,0,0,138,243,0,0,152,1,0.0,1,0,2,1
127,128,67,0,2,152,277,0,1,172,0,0.0,2,1,2,1
128,129,52,0,2,136,196,0,0,169,0,0.1,1,0,2,1
130,131,54,0,2,160,201,0,1,163,0,0.0,2,1,2,1
131,132,49,0,1,134,271,0,1,162,0,0.0,1,0,2,1
144,145,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1
147,148,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
153,154,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
154,155,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
167,168,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0
181,182,65,0,0,150,225,0,0,114,0,1.0,1,3,3,0
204,205,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0
207,208,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0
213,214,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
220,221,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
223,224,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
241,242,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0
246,247,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
252,253,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
258,259,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
260,261,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
266,267,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
278,279,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
292,293,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
298,299,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0

# DONE